/h_darlehen.dml
/h_geschaeftspartner.dml
/h_kreditkarte.dml
/h_transaktion.dml
/r_link_cc_trans.dml
/r_link_darlehen_trans.dml
/r_link_gp_cc.dml
/r_link_gp_darlehen.dml
/r_s_link_cc_trans.dml
/r_s_link_darlehen_trans.dml
/r_s_link_gp_cc.dml
/r_s_link_gp_darlehen.dml
